.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  max-width: 800px;
  padding: 0 20px;
}
:root {
  --primary-color: #4285F4;
}

.app-image {
  width: 80%;
  margin-bottom: 20px;
}

.details {
  flex: 1;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.technologies {
  margin-bottom: 30px;
}

.technologies h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.technologies ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.technologies li {
  font-size: 1.2rem;
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.technologies li i {
  margin-right: 5px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}
ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 20px 0;  background-color: #eee;
  padding: 1%;
  border-radius: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  max-width: 800px;
  padding: 0 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.card {
  padding: 20px;
  border-radius: 10px;
  background-color: #f2f2f2;
}

.card h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  margin: 0;
}



.github {
  color: #333;
  background-color: #eee;
}

.github:hover {
  background-color: black;
  color: white;
}

.live {
  color: #333;
  background-color: #eee;
}

.live:hover {
  background-color: black;
  color: white;
}
